html,
body {
    margin: 0;
    padding: 0;
}
:before,
:after {
    -webkit-box-sizing:
        border-box;
    -moz-box-sizing:
        border-box;
    box-sizing:
        border-box;
}

/*regra para o clear float  */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
.sidemenu {
    font-size: 1.2em;
    background: rgb(44, 62, 80);
    background-image: -moz-linear-gradient(135deg, rgb(3, 8, 12), rgb(16, 57, 79));
    background-image: -webkit-linear-gradient(135deg, rgb(3, 8, 12), rgb(16, 57, 79));
    background-image: -o-linear-gradient(135deg, rgb(3, 8, 12), rgb(16, 57, 79));
    background-image: -ms-linear-gradient(135deg, rgb(3, 8, 12), rgb(16, 57, 79));
    background-image: linear-gradient(135deg, rgb(3, 8, 12), rgb(16, 57, 79));
    height: 100%;
    overflow: hidden;
    width: 330px;
    position: fixed;
    top: 0;
    left: -320px;
    padding: 20px 30px;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}

/* .sidemenu:before {
    z-index: 1000;
    font-size: 4em;
    color: white;
    position: fixed;
    left: 4px;
    top: 45px;
}

.sidemenu:hover:before,
.sidemenu:focus:before {
    left: -500px
} */

.sidemenu:hover,
.sidemenu:focus,
.sidemenu:active {
    overflow-y: auto;
    -moz-transform: translate(320px, 0);
    -webkit-transform: translate(320px, 0);
    -o-transform: translate(320px, 0);
    transform: translate(320px, 0);
}

#menu {
    font-style:
        italic;
    position:
        relative;
    font-size:
        1.0em;
    margin:
        1em 0 1em -1em;
    padding:
        0;
}

#menu li {
    padding:
        10;
    margin:
        10;
}

#menu li a,
#menu li a:link {
    font-size:
        1.2em;
    color:
        rgb(255,
            255,
            255);
    text-decoration:
        none;
    padding:
        0.8em 0 0.8em 1em;
    display:
        block;
    -moz-transition:
        all 1.2s ease;
    -webkit-transition:
        all 1.2s ease;
    -o-transition:
        all 1.2s ease;
    transition:
        all 1.2s ease;
}

#menu li a:hover {
    color:
        rgb(255,
            255,
            255);
    background-color:
        rgba(255,
            255,
            255,
            0.2);
    -moz-transition:
        all 0.5s ease;
    -webkit-transition:
        all 0.5s ease;
    -o-transition:
        all 0.5s ease;
    transition:
        all 0.5s ease;
}

@media (max-width: 500px) {
    body {
        margin-left:
            0px;
        background-size:
            70% 28em !important;
    }

    .sidemenu {
        padding:
            0;
        -moz-transition:
            all 0.5s ease;
        -webkit-transition:
            all 0.5s ease;
        -o-transition:
            all 0.5s ease;
        transition:
            all 0.5s ease;
        font-size:
            1.2em;
        height:
            100%;
        overflow:
            auto;
        width:
            100%;
        position:
            static;
        top:
            0;
        left:
            0;
    }

    .sidemenu:before {
        z-index:
            1000;
        width:
            0;
        text-align:
            center;
        content:
            "";
        font-size:
            0;
        color:
            white;
        position:
            static;
        top:
            0;
        left:
            0;
        display:
            inline-block;
    }

    .sidemenu:hover,
    .sidemenu:focus {
        overflow:
            scroll;
        -moz-transform:
            none;
        -webkit-transform:
            none;
        -o-transform:
            none;
        transform:
            none;
    }

    #menu li a {
        border-bottom: 1px solid #ccc;
    }

    #menu li:first-child a {
        border-top: 1px solid #ccc;
    }

    .header {
        margin-left: 10%;
    }
}